<section class="profile">
    <div class="profile__user-avatar">
        <img [src]="imagePreview? imagePreview: user?.image" alt=""  *ngIf="!isViewMode">
        <img [src]="selectedUser?.image" alt=""  *ngIf="isViewMode">

        <button (click)="imagePicker.click()"  *ngIf="!isViewMode">
            Change image
        </button>
        <input type="file" #imagePicker (change)="uploadPhoto($event)">
    </div>
    <div class="profile__user-data">
        <div class="profile__user-data__user" *ngIf="isViewMode">
          <span>First Name: {{selectedUser?.firstName}}</span>
          <span>Last Name: {{selectedUser?.lastName}}</span>  
          <span>gender: {{selectedUser?.gender}}</span>  
        </div>
        <form [formGroup]="userForm" class="profile__user-data__form" *ngIf="!isViewMode">
            <div class="profile__user-data__form__first-name">
                <input type="text" id="firstName" formControlName="firstName" (focus)="onFocus('firstName')" />
            </div>
            <div class="profile__user-data__form__last-name">
                <input type="text" id="lastName" formControlName="lastName" (focus)="onFocus('lastName')" />
            </div>
            <div class="profile__user-data__form__gender">
                <button (click)="checkMale.click(); onResetGender('genderFemale');">
                    <img *ngIf="!gender?.genderMale" src="../../../assets/img/checkbox-not-active.svg" alt="">
                    <img *ngIf="gender?.genderMale" src="../../../assets/img/checkbox-marked.svg" alt="">
                    <span>Male</span>
                </button>
                <button (click)="checkFemale.click(); onResetGender('genderMale')">
                    <img *ngIf="!gender?.genderFemale" src="../../../assets/img/checkbox-not-active.svg" alt="">
                    <img *ngIf="gender?.genderFemale" src="../../../assets/img/checkbox-marked.svg" alt="">
                    <span>Female</span>
                </button>
                <input type="checkbox" #checkMale formControlName="genderMale">
                <input type="checkbox" #checkFemale formControlName="genderFemale">

            </div>
            <div class="profile__user-data__form__buttons">
                <button (click)="onSubmit()">Save changes</button>
            </div>
        </form>
    </div>
</section>